.contact_css{
    height: calc(100vh - 12rem);
    width: 100vw;
    max-width: 75rem;
    margin: 3rem auto;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* display: flex; */
}

.linkedin{
    margin: 1rem;
    animation: slideInLeft 3s forwards;
}
@keyframes slideInLeft{
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


.telegram{
    animation: slideInTop 3s forwards;
}

@keyframes slideInRight{
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.mail{
    margin: 1.5rem;
    animation: slideInRight 3s forwards;
}
.insta{
    margin: 1rem;
    animation: slideInRight 3s forwards;
}
@keyframes slideInTop{
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.whatsapp{
    margin: 1rem;
    animation: slideInTop 3s forwards;
}
@keyframes slideInBottom{
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.github{
    margin: 1rem;
    animation: slideInTop 3s forwards;
}




.linkedin1{
   
    height: 5rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
}
.linkedin1:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}
.github1:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}
.whatsapp1:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}
.telegram1:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}
.insta1:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}

.mail1{
    height: 4rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
}
.mail1:hover{
    cursor: pointer;
    transform: translateY(-1rem);
}

.telegram1{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 5rem;
    transition: transform 0.3s ease-in-out;
    /* margin: 1rem; */
}
.insta1{
    height: 5rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
}
.whatsapp1{
    height: 5rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
}
.github1{
    height: 5rem;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
}



.elements{   
    display:flex;
    justify-content: center;

}

.c1{
    text-align: center;
    font-size: xx-large;
}