#intro{
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.right-content{
    margin-right: 2rem;
    position: absolute;
    height: 50rem;
    top: 2rem;
    /* margin-bottom: 1rem; */
    /* padding: 2rem; */
    right:0;
    object-fit: cover;
    z-index: -1;
    border: 3px solid grey;
    border-radius: 3rem;
    box-shadow: 3px 5px 10px grey;  
}

  




.left-content{
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 20%;
}

.left-content, .right-content{
    opacity: 0;
}
.left-content{
    flex: 1;
    animation: slideInLeft 1s forwards;
}
.right-content{
    flex: 1;
    animation: slideInBottom 1s forwards;
}

@keyframes slideInLeft{
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInBottom{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


.hello{
    font-size: 1.75rem;
    font-weight: 100;

}
.introname{
   color: rgb(0,255,255);
}

.para{
    font-size: 1rem;
    font-weight:100;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border:none;
}