 .box{
    color: white;
    width:30%;
    box-sizing: border-box;

    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    border: 1px solid #ccc;
    height: 13rem;
    overflow: hidden; 
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    /* vertical-align: top;   */
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
    background: linear-gradient(135deg, #13072e, #3f2182);
    transition: transform 0.3s ease-in-out;
    /* animation: slideInLeft 1s forwards; */
    box-shadow: 3px 5px 10px  #3f2182;  
}



@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.projects{
    animation: slideInRight 1s forwards;
    /* transition: transform 0.3s ease-in-out; */
}
/* .skills{
    animation: slideInRight 1s forwards;
}
*/
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
} 

/* 
.
.map{
    animation: slideInLeft 1s forwards;
    display: inline-block;
    vertical-align: top; 
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.movie{
    animation: slideInRight 1s forwards;
    display: inline-block;
    vertical-align: top; 
}


.space{
    animation: slideInTop 1s forwards;
    display: inline-block;
    vertical-align: top; 
}
@keyframes slideInTop {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
} */

.box:hover {
    cursor: pointer;
    transform: translateY(-2rem);
}

.class1:hover{
    cursor: pointer;
}




.hidden {
    position:absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    background-color: rgba(14, 5, 32, 1); /* Background color for the hidden content */
    /* box-shadow: rgba(46, 45, 45, 0.5); */
    opacity: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out; /* Add a smooth transition for the transform property */
    text-align: left;
    object-fit: cover;
  }


  
   .box:hover .hidden {
    opacity: 1;
    transform: translateY(-100%); 
  }


.pro_head{
    opacity: 0;
    flex:1;
    animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform:translateX(0);
        opacity: 1;
    }
}
 

.box1{
  
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 1rem;
    margin-bottom: 1rem;
    animation: slideInRight 1s forwards;

}
.box2{
    padding: 1rem;
    color:white;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    font-size: 1.3rem;
    background: linear-gradient(135deg, #13072e, #3f2182);
    box-shadow: 3px 5px 10px #3f2182;
    margin-bottom: 2rem;


}
.box2:hover{
    transform: translateY(-1rem) ; 
}

.btn{
    background: #000;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px grey;
    /* transition: coming 1s forwards;
     */
     animation: coming 3s forwards;
}

@keyframes coming {
    from{
     opacity: 0;
    }
    to{
     opacity: 1;
    }
}

.btn:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.project_btn{
    background-color: black;
    color: white;
    padding: 0.2rem ;
    border-radius: 0.3rem;
}
.project_btn:hover{
    background-color: grey;
    color: black;
    padding: 0.2rem ;
    border-radius: 0.3rem;
}


  @media only screen and (max-width: 600px) {
    .box {
      width: 100%;
      float: none;
    }
  }